<h1>settings</h1>
	<% if @current_user == @user.id %>
		<%= form_for @user do |f| %>
			<%= f.text_field :username, "#{ user.username }" %>
			<%= f.email_field :email, "#{ user.email }" %>
			<%= f.password_field :password, "#{ user.password }" %>
			<%= f.submit "update" %>
		<% end %>
	<% else %>
		<h2>you do not have access, go away! :)</h2>
	<% end %>




