<h1>dashboard</h1>

<div class="new_post" >
	<%= flash[:notice] if flash[:notice] %> 
	<%= flash[:alert] if flash[:alert] %> 
	<h2>post something!</h2>
	<% if @current_user.id == params[:id] %>
		<h3>you can't make posts for someone else!</h3>
	<% end %>
			<%= form_for @post do |f| %>
			<%= f.text_field :title, :placeholder => "title" %>
			<%= f.text_field :text, :placeholder => "text"%>
			<%= f.submit "create post" %>
			<% end %>
</div>

<div class="post_list">
	<% if !@following_posts.empty? %>
		<% @following_posts.each do |post| %>
			<ul class="post">
    			<%= render partial: "./posts/show",
               		locals: { post: post } %>
			</ul>
		<% end %>
	<% else %>
		<h3>no posts to show! make some posts or make sure you are following other users.</h3>
	<% end %>
</div>

<div class="user_list_wrapper">
	<h2>user list</h2>
	<ul class="user_list">
		<% @users.each do |user| %>
			<li class="user">
			<a href="/users/<%= "#{ user.id }" %>"><%= "#{ user.username }"%>
			</a>
			</li>
		<% end %>
	</ul>
</div>
