<!DOCTYPE html>
<html>
	<head>
	  <title>Tumblclone</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<nav>
			<div class="site_title">
			tumblclone
			</div>
			<% if @current_user != nil %>
				<ul class="topnav">
					<li><a href="/home/destroy">logout</a>
					</li>
					<li><a href=<%="/users/#{@current_user.id}/edit"%>>settings</a>
					</li>
					<li><a href=<%="/users/#{@current_user.id}"%>>blog</a>
					</li>
					<li><a href=<%="/home/#{@current_user.id}/dash"%>>dashboard</a>
					</li>
				</ul>
			<% end %>
		</nav>
		<div class="wrapper clearfix">
			<% if flash[:notice] %>
				<div class="notice">
					<%= flash[:notice] %>
				</div>
			<% end %> 
			<% if flash[:alert] %>
				<div class="alert">
					<%= flash[:alert] %>
				</div>
			<% end %>
			<%= yield %>
		</div>
	</body>
</html>
